:root {


  --typo-roboto: "Roboto", sans-serif;

  --weight-regular: 400;
  --weight-semiblod: 600;
  --weight-blod: 700;


  --fs-h1: 3.5rem;
  /* 56px */
  --fs-h2: 2.5rem;
  /* 40px */
  --fs-h3: 1.875rem;
  /* 30px */

  --fs-body-1: 1.25rem;
  /* 20px */
  --fs-body-2: 1rem;
  /* 16px */
  --fs-body-3: 0.875rem;
  /* 14px */

  --fs-button: 1.125rem;
  /* 18px */
  --fs-menu: 2.25rem;
  /* 36px */

  /* hauter de texte */

  --line-height-1: 1.1;
  /* 110% */
  --line-height-2: 1.5;
  /* 150% */




  --color-black: #020618;
  --color-dark-blue: #0F172B;
  --color-violet-foncer: #2F2055;

  --color-violet: #C27AFF;
  --color-gris-clair: #F8FAFC;
  --color-clay: #CAD5E2;
  --color-gris: #90A1B9;
  --color-white: #FFFFFF;


  /* Dégradé 1 : 3 couleur */
  --gradient-3C: linear-gradient(90deg, #C27AFF 0%, #FB64B6 50%, #51A2FF 100%);

  /* Dégradé 2 : violet rouge */
  --gradient-VR: linear-gradient(0deg, #9810FA 0%, #E60076 100%);

  /* Dégradé 3 : violet violet */
  --gradient-VV: linear-gradient(45deg, #9810FA 0%, #C27AFF 100%);

  /* Dégradé 4 : rose rose */
  --gradient-RR: linear-gradient(45deg, #E60076 0%, #FB64B6 100%);

  /* Dégradé 5 : bleu bleu */
  --gradient-BB: linear-gradient(45deg, #155DFC 0%, #51A2FF 100%);

}