.programation-section {
    background-color: var(--color-black);
    padding: 2rem 1rem 4rem;
}

.programation-section__day-title {
    font-size: var(--fs-h2);
    font-weight: var(--weight-blod);
    color: var(--color-violet);
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
}

.programation-section__cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Carte de programmation */
.programation-card {
    background-color: #1d293d;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--color-violet-200);
}

.programation-card__image-wrapper {
    width: 100%;
    height: 21.875rem;
    overflow: hidden;
}

.programation-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programation-card__content {
    padding: 1.5rem;
}

.programation-card__artist {
    font-size: var(--fs-h3);
    font-weight: var(--weight-blod);
    color: var(--color-white);
    margin: 0 0 0.5rem 0;
}

.programation-card__genre {
    font-size: var(--fs-body-3);
    color: var(--color-violet);
    margin: 0 0 1rem 0;
}

.programation-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-body-3);
    color: var(--color-gris);
}

.programation-card__time {
    margin: 0;
}

.programation-card__stage {
    margin: 0;
}