/* Styles pour les médias (images, vidéos) */
.media {
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}

.media__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1.5rem;
}