@import "./vendors/normalize.css";

@import "./utils/variables.css";
@import "./utils/main.css";

@import "./layout/header.css";
@import "./layout/menu.css";
@import "./layout/footer.css";
@import "./layout/hero.css";

@import "./components/button.css";
@import "./components/card_information.css";
@import "./components/global.css";
@import "./components/card_nav.css";
@import "./components/card_partenaire.css";
@import "./components/filtre.css";
@import "./components/card_programation.css";
@import "./components/formulaire.css";
@import "./components/card-artiste.css";
@import "./components/card-scene.css";
@import "./components/card_sceneinfo.css";
@import "./components/card-tarif.css";
@import "./components/card-hebergement.css";
@import "./components/card-transport.css";
@import "./components/faq.css";
@import "./components/media.css";
@import "./components/valeur.css";
@import "./components/equipe.css";
@import "./components/card-scenePage.css";
@import "./components/card-artistePage.css";

.roboto-classique {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}